.card-list-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px 100px 50px;

    &::-webkit-scrollbar {
        width: 20px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent; 
        border-radius: 10px;
    }
}
@media screen and (max-width: $breakpoint-small-device) {
    .card-list-container {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
    
}