<div class="display-flex flex-column">
    <div class="back-button__container">
        <a [routerLink]="['/movies']" class="back-button" title="BACK">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    </div>
    
    <div class="display-flex flex-column height-100"
        *ngIf="movie$ | async as movie; else loading">
        <div class="detail__header--container">
            <div class="detail__header--container--inner">
                <div class="detail__header--title--container">
                    <div class="display-flex flex-column align-flex-start">
                        <h1 class="h1-title">{{movie.title}} ({{movie.release_date | date:'yyyy'}})</h1>
                        <h3>Description:</h3>
                        <h4 class="detail__header--description">{{movie.overview}}</h4>
                    </div>
                </div>
                <div class="detail__header--video--container flex-order-xs-2">
                    <div class="detail__header--video--inner" *ngIf="movie.trailers.length || !movie.backdrops.length">
                        <iframe class="detail__header--iframe" [src]="resolveVideoUrl(movie.trailers[0].site, movie.trailers[0].key)" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <img style="width: 900px; border-radius: 2%;" 
                        src="https://image.tmdb.org/t/p/original{{movie.backdrops[0].file_path}}" 
                        *ngIf="!movie.trailers.length">
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="fullscreen-spinner">
            <div class="spinner"></div>
        </div>
    </ng-template>
    
</div>

