.display {
    &-flex {
        display: flex;
    }
}

.flex {
    &-column {
        flex-direction: column;
    }

    &-center-y {
        justify-content: center;
    }

    &-center-x {
        align-items: center;
    }
 }

 .height-100 {
     height: 100%;
 }

 .width-100 {
     width:100%;
 }
