.display {
    &-flex {
        display: flex;
    }
}

.flex {
    &-column {
        flex-direction: column;
    }

    &-center-y {
        justify-content: center;
    }

    &-center-x {
        align-items: center;
    }
 }

 .height-100 {
     height: 100%;
 }

 .width-100 {
     width:100%;
 }
 
 .position-relative {
     position: relative;
 }

.align-flex-start {
    align-items: flex-start;
}
.flex-order-xs-2 {
    order: 1;
} 
