//colors

$background-primary: rgb(17,17,17);
$font-primary: rgb(255,255,255);
$card-overlay-primary:  rgba(17, 17, 17, 0.623);

$primary: rgb(225,70,78);

//screen breakpoints
$breakpoint-small-device: 960px;

//zindex
$zindex-menu: 1500;