//colors

$background-primary: rgb(17,17,17);
$font-primary: rgb(255,255,255);
$card-overlay-primary:  rgba(17, 17, 17, 0.623);

$primary: rgb(225,70,78);

//screen breakpoints

$xs-device: 600px;
$s-device: 600px;
$m-device: 768px;
$l-device: 992px;
$xl-device: 1200px;


//zindex
$zindex-menu: 1500;