<div class="list-view-container">
    <div class="list-view-container__inner">
        <div class="card-list-container">
            <div class="card-item__container" 
                *ngFor="let item of listToView$ | async" >
                <div class="card-item__outer">
                    <app-card 
                        [title]="item.title" 
                        [imageUrl]="item.poster_path" 
                        [rating]="item.vote_average" 
                        [releaseDate]="item.release_date">
                    </app-card>
                </div>
            </div>
            <app-no-results class="width-100 height-100" *ngIf="(listToView$ | async) != null && !(listToView$ | async)?.length"></app-no-results>
        </div>
    </div>
</div>