/* You can add global styles to this file, and also import other style files */
@import './styles/styles-imports';

body {
    margin: 0;
    padding: 0;
    background-color: $background-primary;
    color: $font-primary;
    font-family: 'Montserrat', sans-serif;
}

.list-view-container {
    width: 100%;
    background-color: $background-primary;
    display: flex;
    text-align: center;
    position: relative;

    &__inner {
        width: 100%;
        margin: 0 0;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        padding: 30px 0 100px 0;
    }
}

.topbar {
    &__container {
        margin: 0 50px;
    }
}

[hidden] { display: none !important;}

@media screen and (max-width: $breakpoint-small-device) {
    .list-view-container {
        height: 100%;
    }
}

